! special
*.foreground: #93a1a1
*.background: #141c21
*.cursorColor: #afbfbf

! black
*.color0: #263640
*.color8: #4a697d

! red
*.color1: #d12f2c
*.color9: #fa3935

! green
*.color2: #819400
*.color10: #a4bd00

! yellow
*.color3: #b08500
*.color11: #d9a400

! blue
*.color4: #2587cc
*.color12: #2ca2f5

! magenta
*.color5: #696ebf
*.color13: #8086e8

! cyan
*.color6: #289c93
*.color14: #33c5ba

! white
*.color7: #bfbaac
*.color15: #fdf6e3

!! URxvt Appearance
!! URxvt*font: xft:DejaVu Sans Mono:size=16
!! URxvt*boldFont: xft:DejaVu Sans Mono:style=Bold:size=16
!! URxvt*italicFont: xft:DejaVu Sans Mono:style=Oblique:size=16
!! URxvt*boldItalicFont: xft:DejaVu Sans Mono:style=Bold Oblique: size=16
!!URxvt*letterSpace: 0
#define font1         InconsolataLGC Nerd Font Mono
#define font2         Inconsolata Nerd Font Mono
#define font3         DejaVuSansMono Nerd Font
#define font4         Noto Sans Mono CJK JP

URxvt*letterSpace: 0
URxvt*font:           xft:font1:pixelsize=18, xft:font2:pixelsize=18:minspace=false, xft:font3:pixelsize=18,xft:font4:pixelsize=18
URxvt*boldFont:       xft:font1:bold:pixelsize=18, xft:font2:pixelsize=14:minspace=False,xft:font3:pixelsize=14,xft:font4:pixelsize=14
URxvt*italicFont:     xft:font1:italic:pixelsize=18, xft:font2:pixelsize=14:minspace=False,xft:font3:pixelsize=14,xft:font4:pixelsize=14
URxvt*boldItalicFont: xft:font1:bold:italic:pixelsize=18, xft:font2:pixelsize=14:minspace=False, xft:font3:pixelsize=14, xft:font4:pixelsize=14
URxvt.lineSpace: 0
URxvt.geometry: 92x24
URxvt.internalBorder: 24
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 24
URxvt.iso14755: false

!! URxvt Transparency
URxvt.transparent: true
URxvt.shading: 20

!! Add URxvt copypaste to be the same as your normal terminal emulators
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

!! Rofi Settings
rofi.font: xft:Roboto Mono 15
